$light-blue: #94C5CC;
$purple: #9184B8;
$strong-purple: #880088;
$dark-grey: #24252A;
$alice-blue: #EEF8FF;
$orange: #FFE787;
$yellow: #EBF8B8;
$brown: #D0A98F;
$light-brown: #EDD4B2;
$cambridge-blue: #BCD8C1;
$pale-spring: #D6DBB2;
