$light-blue: #94c5cc;
$purple: #9184b8;
$strong-purple: #880088;
$dark-grey: #24252a;
$alice-blue: #eef8ff;
$orange: #ffe787;
$yellow: #ebf8b8;
$brown: #d0a98f;
$light-brown: #edd4b2;
$cambridge-blue: #bcd8c1;
$pale-spring: #d6dbb2;

$orange: #ffc03a;
$mango-tango: #f98948;
$ruby: #d81159;
$black: #0e0f19;
$orchid: #dc6acf;

$pure-white: #ffffff;
$pure-black: #000000;
$very-white: #fafafa;
$light-grey: #d1d1cd;

$text-light: $pure-white;
$text-dark: $pure-black;
$text-contrast: $orange;

$bg-dark: $pure-black;
$bg-light: $pure-white;

$bg-clients: $orange;
