.header,
.header--hidden,
.headerblock {
  top: 0px;
  //left: -0px;
  width: 100vw;
  width: calc(100vw - 16px);
  height: clamp(6vh, 20vw, 150px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //transition: all 0.7s ease-in;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
  padding-bottom: 2rem;
  font-weight: 700;
  .head {
    a {
      padding: 0.5vw;
      font-size: clamp(25px, 75px, 6vw);
    }
  }
  .tail {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    a {
      padding: 1rem;
      padding-bottom: 0;
    }
  }
  a {
    color: #cbbfbb;
    text-decoration: none;
  }
  /*
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
  filter: alpha(opacity=0.5);
  -moz-opacity: 0.5;
  -khtml-opacity: 0;
  opacity: 0.8;
  */
  transition: all 0.25s ease-out;
}

.header--hidden {
  top: -300px;
  transition: all 0.5s linear;
}

.headerblock,
.headerblock--hidden {
  width: calc(100vw - 16px);
  max-height: 2vw;
  padding: 0;
  background: black;
}
