@import './colours';

.page {
  padding-top: min(20vw, 150px);
  height: 500vw;
  width: 100%;
  background: #000;
  h1 {
    color: #ffc03a;
  }
}

.gallery {
  //padding: min(10vw, 75px);
  padding: 2px;
  background: black;
  z-index: 99;
}

.text,
.text-flex {
  padding: 0;
  padding-bottom: 4vh;
  padding-top: 0vh;
  background: #000;
  h1 {
    padding: 4vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }
  h2 {
    padding: 4vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }
  p {
    padding: 4vh;
    padding-top: 2vh;
  }
}

.text-flex {
  padding-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  img {
    height: 30vw;
    max-height: 300px;
    width: auto;
  }
}

.orange {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: #ffc03a;
  color: black;
  h1 {
    color: black;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  a {
    display: flex;
    width: 30vh;
    height: auto;
    max-width: 33vw;
    padding-top: auto;
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    text-align: center;
    img {
      padding: 2vh;
      vertical-align: middle;
      width: auto;
      height: auto;
      background: #ffc03a;
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  color: black;
  padding: 6vh;
  h2 {
    text-align: center;
    color: #fff;
    padding: 2vh;
  }
  div {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 2vh;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    .text {
      padding: 0;
      width: 100%;
      text-align: center;
      flex-grow: 10;
      background-color: #fff;
      font-style: italic;
    }
    .name {
      font-weight: 500;
    }
    .company {
      font-weight: 900;
    }
    a {
      display: flex;
      width: 100%;
      height: auto;
      white-space: nowrap;
      text-align: center;
      img {
        padding: 2vw;
        vertical-align: middle;
        width: 60%;
        height: auto;
        background: #fff;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .testimonials {
    flex-wrap: wrap;
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  a {
    align-self: center;
    width: 100%;
    background-color: black;
    width: auto;
    padding: min(2vw, 25px);
    border: none;
    text-decoration: none;
    color: $alice-blue;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border-radius: 16px;
  }
  a:hover {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    background: #eee;
    h2 {
      color: black;
    }
  }
  span {
    font-weight: 500;
    align-self: center;
    text-align: center;
    font-size: 2.25vw;
  }
  img {
    fill: #fff;
  }
}

/* Parallax base styles
  --------------------------------------------- */

.parallax {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax::-webkit-scrollbar {
  display: none;
}
.parallax__layer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__group {
  position: relative;
  width: 100vw;
  height: 56vw;
  transform-style: preserve-3d;
  z-index: -5;
  top: 0;
  bottom: 0;
  .parallax__layer--base,
  parallax__layer--back {
    position: absolute;
  }
}
.size2 {
  height: 30vw;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-4px) scale(1);
  transform: translateZ(-1px) scale(2);
  z-index: -5;
  width: 100%;
  height: auto;
  filter: brightness(70%);
  .img1 {
    background: #fff;
    width: 100%;

    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }
  .img1:hover {
    background: gold;
    width: 100vw;
    height: 56vw;

    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }
  img {
    background: black;
    display: block;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }
}

/* demo styles
  --------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font: 100% / 1.5 Arial;
}

/* centre the content in the parallax layers */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
.parallax {
  background-image: url("https://source.unsplash.com/2ShvY8Lf6l0/800x599");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}
*/

img {
  display: block;
  margin: auto;
  background: black;
}

/* products */
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vw;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4vw;
  padding-left: 10vw;
  .item {
    color: #113;
    margin: 10px;
    padding: 30px;
    border: 2px solid;
    border-radius: 8px;
    background: $cambridge-blue;
  }
  .item:hover {
    background: $pale-spring;
  }
}

.div1 {
  padding: 5%;
}

.cell {
  padding-left: 20%;
}
/* table */
.tbl {
  border: 1px solid white;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}
.row {
  border: 1px solid white;
  display: flex;
  min-height: 50px;
  padding: 1.5vh;
}

%cell-shared {
  font-size: 1.2rem;
  text-align: center;
  overflow-wrap: break-word;
  @media screen and (min-width: 200px) {
    font-size: 1.9rem;
  }
}
.cell {
  flex: 5;
  margin: auto;
  justify-content: center;
  min-width: 20%;
  text-align: center;
  @media screen and (min-width: 200px) {
    font-size: 1.125rem;
  }

  h2 {
    //@extend %cell-shared;
    font-weight: bold;
    font-size: 1em;
  }
  h3 {
    //@extend %cell-shared;
    font-size: 0.8em;
  }
}

.row:first-child .cell {
  display: flex;
  justify-content: center; /*  center horiz. */
  align-items: center; /*  center vert. */
}
.row .cell {
  padding: 5px;
  box-sizing: border-box;
}
