@import './home';
@import './colours';


.projects-list {
  background: $bg-dark;
  color: $text-light;
  padding: 0;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  min-height: 232px;
  padding: 8px 8px;
  .img, .img--selected {
    position:sticky;

    height: calc(100% - 5px);
    width: 100%;

    padding: min(calc($gap-size / 2), 4px);
    padding-top: 16px;
    padding-bottom: 0;
    background: none;
    margin-top: 0px;
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    h4 {
      position: absolute;
      bottom: 0;
      margin: 0;
      color: $bg-dark;
      display: none;
      padding-left: 5px;
      padding-bottom: 1px;
      //transition: all 1s ease-out;
    }
    
    $trize: 40px; // triange size
    $color: $bg-dark;
    .triangle, .triange--hidden {
      display: inline;

      position: absolute;
      bottom: 5px;
      right: 0;
      width: 0;
      height: 0;
      margin: 0;

      border-top: 0 solid $color;
      border-bottom: $trize solid $color;
      border-left: $trize solid transparent;
      background: none;
      transition: all 0.4s linear;
    }
    .triangle--hidden {
      border-bottom: 10px solid $color;
      border-left: 10px solid transparent;
      transition: all 0.9s ease-out;

    }
    transition: all 0.4s ease-out;
  }

  .img--selected { 
    background: none;
    //border: 2px solid black;
    padding: 0 4px;
    //background: #d6d6d6;
    transition: filter 0.1s ease-out;
    //padding: 3px;
    //padding: 0;
    //padding-bottom: 0;
    height: 100%;
    width: 140%;
    img {
      height: 100%;
    }
    h4 {
      display: block;
    }
    transition: width 0.16s ease-out;
  }

  .img:hover {
    filter: brightness(50%);
    transition: filter 0.1s linear;
    height: 110%;
    width: 125%;
    padding-top: 8px;
    transition: all 0.3s linear;
    h4 {
      display: block;
      padding-bottom: 10px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: $gap-size;  
  background: none;
  .text {
    text-align: center;  
    padding-right: $gap-size;
    padding: 2vh 16vh;
    //max-width: 50%;
  }

  .imgs {
    //max-width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 3px 8px;

    width: 100%;
    gap: $gap-size;

    .bigimg {
      width: 50%;
    }
    .smallimgs {
      display: flex;
      gap: $gap-size;
      //flex-wrap: wrap;
      max-width: 50%;
      .img {
        max-width: 50%;
      }
    }
    
    img {
      width: 100%;
      height: auto;
    }
  }
  transition: all 1s linear;
}