@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colours';

body, html {
	background-color: #272838;
	color: #F9F8F8;
	//font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.125rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

h1 {
	font-size: 8vw;
	text-align: center;
	color: $alice-blue;
}

h2 {
	font-size: 6vw;
	text-align: center;
	color: $alice-blue;
	padding-bottom: 20vw;
}
